#pawprints-ticker {
	overflow: hidden;
	margin: 20px 0;
	height: 100px;
	padding: 0;
	border: 1px solid #ccc;
}
#pawprints-ticker li {
	display: block;
	height: 100px;
	padding-top: 30px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
#pawprints-ticker a,a:visited {
	color:black;
}